
# Игнорирование виртуальных окружений
venv/
ENV/
env/

# Игнорирование файлов, созданных системой
.DS_Store
Thumbs.db

# Игнорирование файлов и настроек редактора
.idea/
.vscode/
*.swp
*.swo

# Игнорирование кешей и временных файлов Python
__pycache__/
*.py[cod]
*$py.class

# Логи и временные файлы
*.log
*.tmp
*.bak
*.pid
*.seed
*.cover

# Игнорирование артефактов сборки
build/
dist/
*.egg-info/
.eggs/

# Игнорирование персональных данных окружения или конфигурационных файлов
.env
*.ini
*.cfg
